@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
.myNavbar{
  margin-right: 15%;
  margin-top: 0%;
}
.contactContent{
	clear: both;
background-color: rgba(0, 0, 0, 0.5); 
margin: 0 15%;

}
.border{
	margin: 5% 0;
	border-bottom: 5px solid rgba(250, 179, 90, 0.8);
}
.contactContent h1{
	margin: 0;
	text-align:center;
   overflow: hidden;
	font-size: 400%;
	color : rgba(250, 179, 90, 0.8);
}
.contactContent .call{
    margin-left: 5%;
    overflow: hidden;
	font-size: 200%;
	color : rgba(250,250,250,0.8);
}
.contactContent .talkMessage{
	margin-left: 5%;
    overflow: hidden;
	font-size: 300%;
	color : rgba(250,250,250,0.8);
}

form{
	padding: 2% 0%;
	width: 100%;
	background-color: rgba(227, 77, 81, 0.6);
}

form p{
	margin-left: 7%;
	font-size: 200%;
	color: rgba(250,250,250,0.7);

}
input{font-size: 100%;
	font-family: "Amatic SC", sans-serif;
	display: inline;
	margin-left: 5%;
	background-color: transparent;
	border-color: transparent;
	border-bottom: 2px solid rgba(0, 0, 0, 1);
	width: 50%;

}

input[type=text]:focus {
	border: none;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    padding: 2%;
    color: white;
}

input[type=submit]{
    background-color: rgba(250, 179, 90, 0.6);
    border: none;
    color: white;
    font-family: "Amatic SC", sans-serif;
    font-size: 250%;
    text-decoration: none;
    cursor: pointer;
    width: 50%;
    padding: 2%;
    margin: 0 25%;
}
.space{
	margin-left: 5%;
}